<a href="https://colab.research.google.com/github/ee18333/ee18333.github.io/blob/main/failed_scrape_tiktok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
URL="https://www.statista.com/statistics/1267892/tiktok-global-mau/"

In [ ]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')
Tiktok_dfs=pd.read_html(html.content)
Tiktok_dfs

[  Characteristic Number of monthly active users in millions
 0              -                                          -
 1              -                                          -
 2              -                                          -
 3              -                                          -
 4              -                                          -]

In [ ]:
soup

In [ ]:
tables=pd.read_html('https://www.statista.com/statistics/1267892/tiktok-global-mau/')

In [ ]:
soup.findAll("table")

[<table class="table hidden" id="statTableHTML"><thead><tr><th>Characteristic</th><th>Number of monthly active users in millions</th></tr></thead><tbody><tr><td>-</td><td>-</td></tr><tr><td>-</td><td>-</td></tr><tr><td>-</td><td>-</td></tr><tr><td>-</td><td>-</td></tr><tr><td>-</td><td>-</td></tr></tbody></table>]

In [ ]:
df=tables[0]

In [ ]:
df

  Characteristic Number of monthly active users in millions
0              -                                          -
1              -                                          -
2              -                                          -
3              -                                          -
4              -                                          -