<a href="https://colab.research.google.com/github/ee18333/ee18333.github.io/blob/main/GDP_percentage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd, requests

In [ ]:
url = "https://api.worldbank.org/v2/country/{}/indicator/NY.GDP.MKTP.CD?date=2000:2020&format=json"

In [ ]:
scrapedCountries = ["USA","GBR","JPN","CHN"]

In [ ]:
unclean={}
for i in scrapedCountries:
  iterationUrl = url.format(i)
  unclean[i] = requests.get(iterationUrl).json()
unclean

In [ ]:
years = [0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

In [ ]:
Tourism=[]
for i in scrapedCountries:
  for j in years:
   departure=unclean[i][1][j]['value']
   Tourism.append(departure)
Tourism

In [ ]:
dataCountries=[]
for i in scrapedCountries:
  for j in years:
   names=unclean[i][1][j]['country']['value']
   dataCountries.append(names)
dataCountries

In [ ]:
myDates=[]
for i in scrapedCountries:
  for j in years:
   dates=unclean[i][1][j]['date']
   myDates.append(dates)
myDates

In [ ]:
GDPDF = pd.DataFrame(Tourism, dataCountries)
GDPDF
yearsDF = pd.DataFrame(myDates)
yearsDF
bestDF = GDPDF.reset_index().join(yearsDF, rsuffix='lol')
bestDF

In [ ]:
bestDF.rename(columns={'index': 'Country_name'}, inplace=True)
bestDF.rename(columns={'0lol': 'Year'}, inplace=True)
bestDF.rename(columns={'0':'Tourism'}, inplace=True)
bestDF

     Country_name       Tourism  Year
0   United States  2.089375e+13  2020
1   United States  2.143322e+13  2019
2   United States  2.061186e+13  2018
3   United States  1.954298e+13  2017
4   United States  1.874508e+13  2016
..            ...           ...   ...
75          China  2.285966e+12  2005
76          China  1.955347e+12  2004
77          China  1.660288e+12  2003
78          China  1.470550e+12  2002
79          China  1.339396e+12  2001

[80 rows x 3 columns]

In [ ]:
bestDF.to_csv('GDPpercentage.csv')