<a href="https://colab.research.google.com/github/ee18333/ee18333.github.io/blob/main/TourismOneApi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

inspired by Oliver Krishnamma

In [ ]:
import pandas as pd, requests

In [ ]:
url = "https://api.worldbank.org/v2/country/{}/indicator/ST.INT.DPRT?date=1997:2019&format=json"

In [ ]:
scrapedCountries = ["DEU","GBR","ITA","RUS","JPN","CHN"]

In [ ]:
unclean={}
for i in scrapedCountries:
  iterationUrl = url.format(i)
  unclean[i] = requests.get(iterationUrl).json()
unclean

In [ ]:
years = [0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]

In [ ]:
Tourism=[]
for i in scrapedCountries:
  for j in years:
   departure=unclean[i][1][j]['value']
   Tourism.append(departure)
Tourism

In [ ]:
dataCountries=[]
for i in scrapedCountries:
  for j in years:
   names=unclean[i][1][j]['country']['value']
   dataCountries.append(names)
dataCountries

In [ ]:
myDates=[]
for i in scrapedCountries:
  for j in years:
   dates=unclean[i][1][j]['date']
   myDates.append(dates)
myDates

In [ ]:
tourismDF = pd.DataFrame(Tourism, dataCountries)
tourismDF
yearsDF = pd.DataFrame(myDates)
yearsDF
bestDF = tourismDF.reset_index().join(yearsDF, rsuffix='lol')
bestDF

In [ ]:
bestDF.rename(columns={'index': 'Country_name'}, inplace=True)
bestDF.rename(columns={'0lol': 'Year'}, inplace=True)
bestDF.rename(columns={'0':'Tourism'}, inplace=True)
bestDF

In [ ]:
bestDF.to_csv('Tourism.csv')