https://en.wikipedia.org/wiki/Africa%E2%80%93China_economic_relations#

In [ ]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

In [ ]:
URL = "https://en.wikipedia.org/wiki/Africa%E2%80%93China_economic_relations"
html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')

In [ ]:
soup

In [ ]:
tables=pd.read_html('https://en.wikipedia.org/wiki/Africa%E2%80%93China_economic_relations')

In [ ]:
tables[3]

In [ ]:
df=tables[3]

In [ ]:
df.head(5)

In [ ]:
df.columns=['Year','World','Africa','Chinese trade in US$ billions to Africa as a percentage of the world']

In [ ]:
df['Chinese trade in US$ billions to Africa as a percentage of the world'].str.replace('%','')

0     1.9
1    2.17
2    2.74
3    3.12
4    3.38
5       ?
Name: Chinese trade in US$ billions to Africa as a percentage of the world, dtype: object

In [ ]:
df['Chinese trade in US$ billions to Africa as a percentage of the world']=df['Chinese trade in US$ billions to Africa as a percentage of the world'].str.replace('%','')

In [ ]:
df.head(5)

       Year  ... Chinese trade in US$ billions to Africa as a percentage of the world
0      2002  ...                                                1.9
1  2003[27]  ...                                               2.17
2      2005  ...                                               2.74
3      2006  ...                                               3.12
4      2007  ...                                               3.38

[5 rows x 4 columns]

In [ ]:
df.to_csv('africa.csv')