<a href="https://colab.research.google.com/github/ee18333/ee18333.github.io/blob/main/W7_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://en.wikipedia.org/wiki/Africa%E2%80%93China_economic_relations#

In [ ]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

In [ ]:
URL = "https://en.wikipedia.org/wiki/Africa%E2%80%93China_economic_relations"
html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')

In [ ]:
soup

In [ ]:
tables=pd.read_html('https://en.wikipedia.org/wiki/Africa%E2%80%93China_economic_relations')

In [ ]:
tables[3]

In [ ]:
df=tables[3]

In [ ]:
df.head(5)

       Year World[35] Africa[36]      %
0      2002     620.8         12   1.9%
1  2003[27]     851.2      18.48  2.17%
2      2005      1422         39  2.74%
3      2006    1760.6         55  3.12%
4      2007    2173.8       73.6  3.38%

In [ ]:
df.columns=['Year','World','Africa','Chinese trade in US$ billions to Africa as a percentage of the world']

In [ ]:
df['Chinese trade in US$ billions to Africa as a percentage of the world'].str.replace('%','')

0     1.9
1    2.17
2    2.74
3    3.12
4    3.38
5       ?
Name: Chinese trade in US$ billions to Africa as a percentage of the world, dtype: object

In [ ]:
df['Chinese trade in US$ billions to Africa as a percentage of the world']=df['Chinese trade in US$ billions to Africa as a percentage of the world'].str.replace('%','')

In [ ]:
df.head(5)

       Year  ... Chinese trade in US$ billions to Africa as a percentage of the world
0      2002  ...                                                1.9
1  2003[27]  ...                                               2.17
2      2005  ...                                               2.74
3      2006  ...                                               3.12
4      2007  ...                                               3.38

[5 rows x 4 columns]

In [ ]:
df['Year'].str.replace('[27]','')

0       00
1    003[]
2      005
3      006
4       00
5      010
Name: Year, dtype: object

In [ ]:
df['Year'].str.replace('27','')

0      2002
1    2003[]
2      2005
3      2006
4      2007
5      2010
Name: Year, dtype: object

In [ ]:
df['Year']=df['Year'].str.replace('27','')

In [ ]:
df['Year'].str.replace('2003[]','2003')

error: ignored

In [ ]:
df.head(5)

     Year  ... Chinese trade in US$ billions to Africa as a percentage of the world
0    2002  ...                                                1.9
1  2003[]  ...                                               2.17
2    2005  ...                                               2.74
3    2006  ...                                               3.12
4    2007  ...                                               3.38

[5 rows x 4 columns]

In [ ]:
df['Year'].str.replace('[]','')

error: ignored

In [ ]:
df_nicedata=df.head(5)

In [ ]:
df_nicedata

       Year  ... Chinese trade in US$ billions to Africa as a percentage of the world
0      2002  ...                                                1.9
1  2003[27]  ...                                               2.17
2      2005  ...                                               2.74
3      2006  ...                                               3.12
4      2007  ...                                               3.38

[5 rows x 4 columns]

In [ ]:
df_nicedata.to_csv('africa.csv')