<a href="https://colab.research.google.com/github/ee18333/ee18333.github.io/blob/main/AfricaDebtToChina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

In [ ]:
URL = "https://en.wikipedia.org/wiki/Debt-trap_diplomacy#:~:text=As%20of%202020%2C%20the%20countries,and%20Sudan%20(%246.4%20billion)."
html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')

In [ ]:
tables=pd.read_html('https://en.wikipedia.org/wiki/Debt-trap_diplomacy#:~:text=As%20of%202020%2C%20the%20countries,and%20Sudan%20(%246.4%20billion).')

In [ ]:
soup

In [ ]:
AdebtC_dfs=pd.read_html(html.content)
AdebtC_dfs

In [ ]:
AdebtC_dfs_useful = AdebtC_dfs[2:3]

In [ ]:
AdebtC_dfs_useful=pd.concat(AdebtC_dfs_useful)
AdebtC_dfs_useful.columns=['Year','Billions of US$']

In [ ]:
AdebtC_dfs_useful

    Year  Billions of US$
0   2005                2
1   2006                5
2   2007                6
3   2008                4
4   2009                6
5   2010                7
6   2011               10
7   2012               13
8   2013               18
9   2014               15
10  2015               13
11  2016               30

In [ ]:
AdebtC_dfs_useful.to_csv('AfricaDebtToChina.csv')